doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/materialize.min.css')

  body
    block content
    script.
      let fb = document.getElementById('form1');
      fb.addEventListener('submit', event => {
        event.preventDefault();

        let elem = event.target.children[4];
        let chips = M.Chips.getInstance(elem);
        let genre = chips.chipsData.map(i => i.tag);
        event.target.children[5].value = genre

        event.target.submit()
      })

    // script.
      // document.addEventListener()
    script.
      document.addEventListener('DOMContentLoaded', function () {
        let elems = document.querySelectorAll('.chips');
        let instances = M.Chips.init(elems);
        let select = document.querySelectorAll('select');
        let selectInstances = M.FormSelect.init(select);
      });

    script(src="/javascripts/materialize.js")

